<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Express Yourself</title>
    </head>
    <body>
    <% names.forEach((name) => { %>
    <h3>Hello, my name is <%= name %></h3>
    <% }) %>
</body>
</html>
